

p{color: black}

body{
  margin:0;
  padding:0;
}

.wallpaper{
  background-image: url("C:/Users/sd122/Desktop/Work/ウェビーズ/photo/paper_bg.jpg");
}

.header{
  border-top: solid 4px #C0D85B;
  background-color: white;
}

.header-logo{
  width:15%;
  height:20%;

  /*margin:0px 300px 0px 250px;*/
}

.header-logo img{
  width: 100%

}

.navi{
  width: 60%;
  list-style: none;
  padding:0;
  display:flex;
  justify-content: space-around;

}

.navi li a{
    text-decoration: none;
}

header{
  display:flex;
}

.background-image{
  background-image: url("C:/Users/sd122/Desktop/Work/ウェビーズ/photo/eye_bg.png");
  height: 450px;
  width: 100%;
  background-size: cover;
  text-align: center;
  padding-top :100px;
}

.background-image button{
  color:white;
  font-size: 20px;
  font-weight: 900;
  width:300px;
  height: 80px;
  border-radius:5px;
  background: -moz-linear-gradient(top,#c0d85b, #99af41);
  background: -webkit-linear-gradient(top,#c0d85b, #99af41);
  background: linear-gradient(to bottom, #c0d85b, #99af41);
}

div.background-image img{
  height: 15%;
}

div.background-image h1{
  color:white;
  font-size:300%;

}


.background-image h1{
  margin-top: 0;
}

.navi2{
  list-style: none;
  display: flex;
  justify-content: space-around;
  /*padding:30px 250px 30px;*/
}

.navi2 li{
  text-align: center;
}

.navi2 p{
  font-size: .9em;
  width: 300px;
  text-align: center;
}

.request{
  text-align: center;
}

.request img{
  height: 90px;
  width:350px;
}

.request p{
  color:#C16C9D;
  font-weight: bold;
  font-size:20px;
  padding:0px;
  margin:3px;
  margin-bottom: 15px;
}

.request button{
  color:white;
  font-size: 20px;
  font-weight: 900;
  width:400px;
  height: 70px;
  border-radius:5px;
  background: -moz-linear-gradient(top,#c0d85b, #99af41);
  background: -webkit-linear-gradient(top,#c0d85b, #99af41);
  background: linear-gradient(to bottom, #c0d85b, #99af41);
}

.question{
    width: 640px;
    height: 600px;
    margin-top:50px;
    margin-right:20px;
    padding:15px;
    border:solid 1px black;
    background-color: white;

}

.question h2{
  font-size:20px;
  color:#4e4e4e;
  border-bottom: 1px dotted #9e9e9e;

}

.question img{
  padding-left: 150px;
  height: 80px
}

.question h3{
  color:#4e4e4e;
  border-bottom: 1px dotted #9e9e9e;
}

.que_1 {
  margin:0px;
}

.que_2{
  margin:0px;
}

.question button{
  margin-left:110px;
  color:white;
  font-size: 20px;
  font-weight: 900;
  width:400px;
  height: 70px;
  border-radius:5px;
  background: -moz-linear-gradient(top,#c0d85b, #99af41);
  background: -webkit-linear-gradient(top,#c0d85b, #99af41);
  background: linear-gradient(to bottom, #c0d85b, #99af41);
}

.menu1{
  width: 250px;
  height: 350px;
  margin-top:50px;
  padding:15px;
  border:solid 1px black;
  background-color: white;

}

.menu2{
  list-style: none;
  line-height: 42px;
  text-align: left;
  padding-left:0px;
}

.menu2 li{
  border-bottom:1px dotted #cfcfcf;

}

.menu2 a{
  text-decoration: none;
  color:#6c6c6c;
  display: block;
}



.flex{
  display: flex;
  justify-content: center;
}

.footer p{
  padding-top:40px;
  color: white;
  text-align: center;
}

/* iad pro 用 */
@media screen and (min-width:1024px) and (max-width:1374px){

}

/* iad 用 */
@media screen and (min-width: 768px)and (max-width:1023px){
  p{color: black}

  body{
    margin:0;
    padding:0;
  }

  .wallpaper{
    background-image: url("C:/Users/sd122/Desktop/Work/ウェビーズ/photo/paper_bg.jpg");
  }

  .header{
    border-top: solid 4px #C0D85B;
    background-color: white;
    height: 50px;
    width: 100%;
  }

  .header-logo{
    width:15%;
    height:20%;
    /*margin:0px 300px 0px 250px;*/

  }

  .header-logo img{
    padding-top: 5px;
    width: 153px;
    height: 40px;
    position:absolute;
    top:5px;
    left: 65px;

  }

  .navi{
    width: 100%;
    list-style: none;
    display:flex;
    padding-left: 280px;
    padding-top:15px;
    font-size: 5px;
    justify-content: space-around;
    text-align: right;

  }

  .navi li a{
      text-decoration: none;
  }

  header{
    display:flex;
  }

  .background-image{
    background-image: url("C:/Users/sd122/Desktop/Work/ウェビーズ/photo/eye_bg.png");
    height: 215px;
    width: 100%;
    background-size: cover;
    text-align: center;

  }

  .background-image button{
    color:white;
    font-size: 14px;
    font-weight: 900;
    width:180px;
    height: 50px;
    border-radius:5px;
    background: -moz-linear-gradient(top,#c0d85b, #99af41);
    background: -webkit-linear-gradient(top,#c0d85b, #99af41);
    background: linear-gradient(to bottom, #c0d85b, #99af41);
  }

  div.background-image img{
    height: 15%;
  }

  div.background-image h1{
    color:white;
    font-size:160%;

  }


  .background-image h1{
    margin-top: 0;
  }

  .navi2{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 140px;
    width: max-content;
    padding: 0;
    margin: 0;

  }

  .navi2 li{
    text-align: center;
  }

  .navi2 li img{
    width: 120px;
    height: 120px;
  }

  .navi2 p{
    font-size: .5em;
    width: 250px;
    text-align: center;
  }

  .request{
    text-align: center;
  }

  .request img{
    height: 40px;
    width: 190px;

  }

  .request p{
    color:#C16C9D;
    font-weight: bold;
    font-size:20px;
    padding:0px;
    margin:3px;
    margin-bottom: 15px;
  }

  .request button{
    color:white;
    font-size: 20px;
    font-weight: 900;
    width:400px;
    height: 70px;
    border-radius:5px;
    background: -moz-linear-gradient(top,#c0d85b, #99af41);
    background: -webkit-linear-gradient(top,#c0d85b, #99af41);
    background: linear-gradient(to bottom, #c0d85b, #99af41);
  }

  .question{
      width: 640px;
      height: 600px;
      margin-top:50px;
      margin-right:20px;
      padding:15px;
      border:solid 1px black;
      background-color: white;

  }

  .question h2{
    font-size:20px;
    color:#4e4e4e;
    border-bottom: 1px dotted #9e9e9e;

  }

  .question img{
    padding-left: 150px;
    height: 80px
  }

  .question h3{
    color:#4e4e4e;
    border-bottom: 1px dotted #9e9e9e;
  }

  .que_1 {
    margin:0px;
  }

  .que_2{
    margin:0px;
  }

  .question button{
    margin-left:110px;
    color:white;
    font-size: 20px;
    font-weight: 900;
    width:400px;
    height: 70px;
    border-radius:5px;
    background: -moz-linear-gradient(top,#c0d85b, #99af41);
    background: -webkit-linear-gradient(top,#c0d85b, #99af41);
    background: linear-gradient(to bottom, #c0d85b, #99af41);
  }

  .menu1{
    width: 250px;
    height: 350px;
    margin-top:50px;
    padding:15px;
    border:solid 1px black;
    background-color: white;

  }

  .menu2{
    list-style: none;
    line-height: 42px;
    text-align: left;
    padding-left:0px;
  }

  .menu2 li{
    border-bottom:1px dotted #cfcfcf;

  }

  .menu2 a{
    text-decoration: none;
    color:#6c6c6c;
    display: block;
  }



  .flex{
    display: flex;
    justify-content: center;
  }

  .footer p{
    padding-top:40px;
    color: white;
    text-align: center;
  }


/* スマホ用 */
@media only screen and (max-width: 420px){
  .header{
    border-top: solid 4px #C0D85B;
    background-color: white;
    width:812px;
    height: 40px;
  }
  .header-logo {
    width:250px;
    height:20px;
    margin:0px 30px 0px 50px;
  }

  .header-logo img{
    width: 60%

  }

  .navi{
    width: 60%;
    list-style: none;
    padding:0;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin:5px 30px 0px 80px;
  }

  .navi li a{
      text-decoration: none;
      font-size:11px;

  }

  header{
    display:flex;
  }

  .background-image{
    background-image: url("C:/Users/sd122/Desktop/Work/ウェビーズ/photo/eye_bg.png");
    height: 275px;
    width: 812px;
    background-size: cover;
    text-align: center;
    padding-top :50px;
  }

  .background-image button{
    color:white;
    font-size: 12px;
    font-weight: 900;
    width: 195px;
    height: 45px;
    border-radius:5px;
    background: -moz-linear-gradient(top,#c0d85b, #99af41);
    background: -webkit-linear-gradient(top,#c0d85b, #99af41);
    background: linear-gradient(to bottom, #c0d85b, #99af41);
  }

  div.background-image img{
    height: 20%;
  }

  div.background-image h1{
    color:white;
    font-size:185%;

  }


  .background-image h1{
    margin-top: 0;
  }

  .navi2{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding:30px 0px 30px 350px;
  }

  .navi2 li{
    text-align: center;
    padding:0px;
    margin:0px;
  }

  .navi2 li img{
    width: 120px;
    height: 120px;
  }

  .navi2 p{
    font-size: .5em;
    text-align: center;
        width: 210px;
  }

  .request{
    text-align: center;
    width: 812px;

  }

  .request img{
    height: 50px;
    width:200px;
  }

  .request p{
    color:#C16C9D;
    font-weight: bold;
    font-size:15px;
    padding:0px;
    margin:3px;
    margin-bottom: 15px;
  }

  .request button{
    color:white;
    font-size: 12px;
    font-weight: 900;
    width: 195px;
    height: 45px;
    border-radius:5px;
    background: -moz-linear-gradient(top,#c0d85b, #99af41);
    background: -webkit-linear-gradient(top,#c0d85b, #99af41);
    background: linear-gradient(to bottom, #c0d85b, #99af41);
  }

  .question{
      width: 410px;
      height: 100%;
      margin-top:50px;
      margin-right:20px;
      margin-left: 420px;
      padding:15px;
      border:solid 1px black;
      background-color: white;

  }

  .question h2{
    font-size:20px;
    color:#4e4e4e;
    border-bottom: 1px dotted #9e9e9e;

  }

  .question img{
    padding-left: 35px;
    height: 60px
  }

  .question h3{
    color:#4e4e4e;
    border-bottom: 1px dotted #9e9e9e;
  }

  .que_1 {
    margin:0px;
  }

  .que_2{
    margin:0px;
  }

  .question  button{
    margin-left: 0px;
    color:white;
    font-size: 12px;
    font-weight: 900;
    width: 195px;
    height: 45px;
    border-radius:5px;
    background: -moz-linear-gradient(top,#c0d85b, #99af41);
    background: -webkit-linear-gradient(top,#c0d85b, #99af41);
    background: linear-gradient(to bottom, #c0d85b, #99af41);
  }

  .flame2{
    width: 70%;
  }

  .menu1{
    width: 250px;
    height: 350px;
    margin-top:50px;
    padding:15px;
    border:solid 1px black;
    background-color: white;

  }

  .menu2{
    list-style: none;
    line-height: 42px;
    text-align: left;
    padding-left:0px;
  }

  .menu2 li{
    border-bottom:1px dotted #cfcfcf;

  }

  .menu2 a{
    text-decoration: none;
    color:#6c6c6c;
    display: block;
  }



  .flex{
    display: flex;
    justify-content: center;
  }

  .footer p{
    padding-top:40px;
    color: white;
    text-align: center;
  }
